server=https://example.apiplatform.ocp.oraclecloud.com
#server=https://a.b.c.d
IDCS=https://idcs-xxxx.identity.oraclecloud.com/oauth2/v1/token
scope=https://yyyy.apiplatform.ocp.oraclecloud.com:443.apiplatform offline_access
username=myuser
display=t
channel=apis
#channel name for the message to go to. Better to use a custom channel than say the general channel
who=@here
# this is to define what signal to use in the channel, this could easily also be @bob, @fred etc But then you're wiring into
# the configuration the responsbilities rather than leveraging slack
